<html>
	<head>
		<title>Segítség</title>
	</head>
	<body>
		<% include partials/nav.ejs %>
		<h1> Segítségért keress minket az alábbi e-mail címen: </h1>
		<h3> contacterteam@gmail.com </h3>
	</body>
</html>
