<html>
	<head>
		<title>Figyelem!</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<% include partials/nav.ejs %>
		<h1>Nem található ilyen felhasználó!</h1>
		<h3>Ellenőrizd az általad megadott e-mail címet vagy jelszót!<h3>
		<h3>A regisztrációhoz válaszd a 'Regisztráció' opciót!</h3>
	</body>
</html>