<html>
	<head>
		<title>Figyelem!</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<% include partials/nav.ejs %>
		<h1>Sikeres bejelentkezés!</h1>
	</body>
</html>