<html>
	<head>
		<title>Sikertelen!</title>
	</head>
	<body>
		<% include partials/nav.ejs %>
		<h2> Sikertelen regisztráció! </h2>
		<h3> Már létezik ilyen felhasználó az adatbázisban! </h3>
	</body>
</html>